.nav-item {
    display: inline-block;
    position: relative;
    
}

.nav-item::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.30s ease-in-out;
    transform:scale (1.1) ;
}

.nav-item:hover::before {
width: 100%; }

.navbar {
    margin-bottom: 50px;
}


body {
    background-image: url(BACKGROUN1.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    background-attachment: fixed ;
    padding-top: 100px;
}   

.carousel-indicators {
    opacity: 0;
}
.carousel-inner {
    text-align: left;
}

.carousel-caption {
    padding-left: 400px;
}


.profile img {
    align-items: left;
    max-width: 550px;
    max-height: 550px;
    width: 100%;
    margin-top: 50px ; }

.profile {
    padding-left: 150px;
}

.carousel-indicators {
    opacity: 0;
}


.rounded-circle {
    border: 2px solid;
}

.card {
    margin: 20px;
}

.testimony img {
    height: 200px;
    width: 200px;
    text-align: center;
    align-items: center;
}

.card {
    align-items: center;
    text-align: center;
}

.TESTIMONY {
    padding-bottom: 50px;
}

@media (max-width:1280px) {
    .profile img {
        height: 450px;
        width: 450px;
        margin-bottom: 100px;
        margin-left: 100px;
        margin-top: 20px;
    }

    .profile {
        padding-left: 0;
    }
}

@media (max-width:1113px) {
    .profile img {
        display: block;
        height: 350px;
        width: 350px; 
        margin-left: auto;
        margin-right: auto;

    }
    .carousel-caption {
        display: contents;
        justify-content: center;
        padding-bottom: 500px;
    }
    .profile {
        padding-left: 0;
    }
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"); 

.footer {
    padding: 50px;
}

.footer h4 {
    text-align: center;
    align-items: center;
}

.footer .socials  {
    text-align: center;
}

.footer .socials a {
    color: white;
    border: solid 1px;
    text-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    border-radius: 50%;
    opacity: 0.75;
    margin: 10px;
}

.footer .socials a:hover {
    opacity: 1;
    scale: 1.1;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.75;
}

.footer ul li {
    display: inline-block;
    padding: 0.15px;
    margin: 10px;
    color: white;
    opacity: .75;
}

.footer ul li:hover {
    opacity: 1.5;
    scale: 1;
}

.footer ul li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.30s ease-in-out;
    transform:scale (1.1) ;
}

.footer ul li:hover::before {
width: 100%;
 }